.main-content {
    padding: 20px;
}

.btn-edit {
    background-color: #51ce57;
}

.btn-edit:hover {
    background-color: #52c457;
}

.btn-delete {
    background-color: #f5726c;
}

.btn-delete:hover {
    background-color: #ff2318;
}

.btn-create {
    background-color: #51ce57;
}

.btn-create:hover {
    background-color: #52c457;
}


.table th {
    font-weight: bold;
}