.main-content {
    padding: 20px;
}
.btn-create {
    background-color: #8ad28e;
    border-color: #8ad28e;
    color: #fff;
    font-size: 14px;
    padding: 5px 10px;
    margin-bottom: 15px;
}

.btn-delete {
    background-color: #f5726c;
    border-color: #f5726c;
    color: #fff;
    width: 100%;
}
.btn-edit {
    background-color: #8ad28e;
    border-color: #8ad28e;
    color: #fff;
    width: 100%;
}
.table th {
    font-weight: bold;
}